@charset "UTF-8";

/*Estilo para Impressoras*/
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5;
}
menu{
    display: none;
}
article::after{
    font-family: serif;
    font-size: 1em;
    content: "Esse artigo foi impresso a partir do Site do Ray";
}