@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
}
table, th, tr, td{
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    border-collapse: collapse;
}
td.estado{
    text-align: justify;
    color: royalblue;
    
}
th{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;

}
th.estado{
    text-align: justify;
}
table{
    flex-shrink:0;
    display: inline-block;
    margin: 10px auto 10px auto;
    width: 60vh;
    
}
thead{
    position: sticky;
    top: -1px;
    background-color: rgba(0, 0, 0, 0.548);
}
header{
    text-align: center;
    padding: 40px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px black;
}
.mapa{
    margin: 20vh 10vh;
}
#id1{
    display: flex;
}
.p{
    margin-top: 20px;
    padding: 20px;
    background-color: darkgreen;
    text-align: center;
    box-shadow: 0px 0px 10px black;
}
.p > p{
    background-color: greenyellow;
    border-radius: 10px;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    margin: 10px;
    box-shadow: inset 0px 0px 5px black;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 10px;
}
@media screen and (max-width: 600px){
    #id1{
        display: block;
    }
    .mapa{
        margin: 30px;
        text-align: center;
    }
    table{
        width: 375px;
        margin: 30px auto;
        text-align: center;
    }
    .p{
        padding: 20px;
        background-color: darkgreen;
        text-align: center;
        box-shadow: 0px 0px 10px black;
    }
    .p > p{
        box-shadow: inset 0px 0px 5px black;
        margin: 10px;
        background-color: greenyellow;
        border-radius: 10px;
        padding: 10px;
        text-indent: 20px;
        text-align: justify;
    }
}